<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Voucher</h2>
      <% if (!voucher) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Voucher not found! <br />
        <a href="/contact" class="alert-link fw-normal">&laquo; Back to Voucher list</a>.
      </div>
      <% } else { %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= voucher.voucherCode %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= getRemainingDuration(voucher.expired) %></h6>
          <p class="card-text btn <%= voucher.username ? 'btn-success' : 'btn-danger' %>"><%= voucher.username ? voucher.username : 'Unused' %></p>
          <p class="card-text">Expired Date: <br> <%= moment(voucher.expired).format('ddd MMM DD YYYY HH:mm:ss') %></p>
          <p class="card-text">Last Login: <br> <%= moment(voucher.lastLogin).format('ddd MMM DD YYYY HH:mm:ss') %></p>
          <a href="/vouchers/edit/<%= voucher.voucherCode %>" class="btn btn-info badge">Edit</a>
          <form method="POST" action="/vouchers?_method=DELETE" class="d-inline">
            <input type="hidden" name="_id" value="<%= voucher._id %>" />
            <button type="submit" class="btn btn-danger badge" onclick="return confirm('Are you sure?')">Delete</button>
          </form>
          <a href="/vouchers" class="card-link d-block mt-3">&laquo; Back to Voucher List</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
